@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sawyer's Spot";
}



    <!--Header, picture, paragraph about jobs-->
    <h1>Sawyer's Website</h1>
    <p>Here is a picture of freediving, which is one of my favorite hobbies.</p>
    <img src="img/GPTempDownload-2-670x388.jpg" />
    <br />

    <p>From IS413, I hope to learn how to develop web applications quickly and efficiently. Many problems have already been solved by other people and I hope that I can leverage the power of technology to create simple and beautiful web apps that accomplish my purposes. I also hope to get really good at C#.</p>

    <h3>Top 3 Jobs I want after Graduation</h3>
    <ul>
        <li>AWS Cloud Architect</li>
        <li>Salesforce Developer</li>
        <li>Data Scientist</li>
    </ul>

   